:root{
  --border: #ccc;
  --bg-color: #fff;
  --primary: #2C9FBA;
  --font-color: #fff;
  --font-color-disabled: #ddd;
  --border-color-disabled: #eee;
  --red-color: #d00;
  --red-color-hover: #f00;
  --incorreta: #FF5948;
  --green-color: #05D96B;
  --green-color-hover: #34a061;
  --green-color-border: #01D863;
  --bg-color-incorreta: #FFDFDC;
}
body{
  background-color: #fff;
}
.resultado h3{
  color: #2C9FBA;
}
button{
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--bg-color);
}

@media (hover: hover) {
  button:not(.opcao-selecionada):hover{
    border-radius: .5rem;
    background-color: var(--primary);
    color: var(--font-color);
  }
  button.restart:hover{
    background-color: var(var(--red-color-hover));
  }
  button.next:hover{
    background-color: var(--green-color-hover);
  }
}
button:not(.opcao-selecionada):disabled{
  border: 1px solid var(--border-color-disabled);
  color: var(--font-color-disabled);
}
button.correta:disabled{
  color: var(--font-color);
}

.restart{
  border: 1px solid var(--red-color);
  background-color: var(--red-color);
  color: var(--font-color);
}
.correta,.next{
  border: 1px solid var(--green-color-border);
  background-color: var(--green-color);
  color: var(--font-color);
}
.incorreta{
  border: 1px solid var(--incorreta);
  background-color: var(--bg-color-incorreta);
  color: var(--incorreta);
}
.check{
  color: var(--green-color);
  font-weight: 900;
}
.x{
  color: var(--incorreta);
  font-weight: 900;
}
