#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}
.footer-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
p{
    text-align: center;
}
a{
    margin: 0 .2rem;
}
a:visited, a:hover, a{
    color: #333;
}